{% extends "base.html" %}
{% load static %}

{% block title %}Forget Password{% endblock  %}

{% block css_file %}
    <link rel="icon" type="image/x-icon" href="{% static "logo.ico" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="{% static "forgotpassword.css" %}">
{% endblock  %}

{% block content %}
    <div class="container">
      <div class="center">
        <h1>Set Password</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="txt_field">
                {{password_reset_form.code}}
                <span></span>
                <div class="error">{{password_reset_form.code.errors}}</div>
                <div class="error">{{code_error}}</div>
            </div>
            <div class="txt_field">
                {{password_reset_form.password}}
                <span></span>
                <div class="error">{{password_reset_form.password.errors}}</div>
            </div>
            <div class="txt_field">
                {{password_reset_form.conform_password}}
                <span></span>
                <div class="error">{{password_error}}</div>
                <div class="error">{{password_reset_form.conform_password.errors}}</div>
            </div>
            <div class="message">{{message}}</div>
            <input name="submit" type="Submit" value="Set" />
            <div class="signin_link">
                Already account ? <a href="login">SignIn</a>
            </div>
        </form>
      </div>
    </div>
{% endblock %}